.emptyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 2px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem;
  color: var(--gray-400);
}

.emptyList strong {
  margin-top: 1rem;
}

.emptyList strong,
.emptyList span {
  color: var(--gray-300);
  font-size: 1.4;
  text-align: center;
}
